{% load static %}
<!Doctype html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>
            ToDo App
        </title>

        
        <link rel="stylesheet" href="{% static 'todoapp.css' %}">
        

    </head>

    

    <body> 
        
        <h1>ToDo App</h1>
        
        {% block content %}
        
        
        {% endblock content %}
        {% comment %} <footer>
            <div>
                <p>created by Pain</p>
            </div>
        </footer> {% endcomment %}
</html>