{% extends 'main.html' %}



{% block content %}



<hr></hr>

<div class="homeheader">
    <h4 id="hello">Hello 👋🏻  {{name}}</h4>.
    {% if email != None  %}
        <p id="email">{{email}} </p>
    {% endif %}
</div> 
    {% if user.is_authenticated %}
    <span class="wrapper">
    <a href="{% url 'login' %}" target="_blank"  class="button four">Logout</a>
    </span>
    {% else %}
    <div>
    </div>
    {% endif %}

<hr></hr>




{% if user.is_authenticated %}
    <div class="boxxcontainer">
        <div class="link-effect-10">
            <a   href="{% url 'tasks' %}">
            <span>Create Todo</span></a> 
        </div>
        
       
    </div>
   
    
    
    
    

    {% else %}

    <div  class="boxxcontainer-bxx">
        <div class="link-effect-10">
            <a   href="{% url 'tasks' %}">
            <span>Create Todo</span></a> 
        </div>
        <div class="link-effect-14">
            <a   href="{% url 'register' %}">
                <span>Register</span></a> 
        </div>
        <div class="link-effect-10">
            <a   href="{% url 'login' %}">
                <span>Login</span></a> 
        </div>

       
    </div>
  
    

    {% endif %}
    <div class="wholelist">
        <h4>About ToDo</h4>
        <p >ToDo List App is a kind of app that generally used to maintain our day-to-day tasks or list everything that
            we have to do, with the most important tasks at the top of the list, and the least important tasks at the bottom. It is helpful in planning
            our daily schedules. We can add more tasks at any time and delete a task that is completed.</p>
    </div>

    <footer class="footer">
        <ul class="wrapper-footer">
            <li class="icon facebook">
              <span class="tooltip">Facebook</span>
              <span><i class="fa fa-facebook-f"></i></span>
            </li>
            <li class="icon twitter">
              <span class="tooltip">darklgnd100@gmail.com</span>
              <span><i class="fa fa-envelope"></i></span>
            </li>
            <li class="icon instagram">
              <span class="tooltip">Instagram</span>
              <span><i class="fa fa-instagram"></i></span>
            </li>
            <li class="icon github">
              <span class="tooltip">Toxic-Whitelgnd</span>
              <span><i class="fa fa-github"></i></span>
            </li>
            <li class="icon youtube">
              <span class="tooltip">Youtube</span>
              <span><i class="fa fa-youtube"></i></span>
            </li>
          </ul>
        <p>copyright  2022. By Pain</p>
    </footer>
   
    

    
{% endblock content %}


